$red: #FF3B3F
$blue: #0000FF
$green: #00FF00
$black: #111111
$pale_blue: #CAEBF2
$light_gray: #EFEFEF
$dark_gray: #A9A9A9
$white: #FFFFFF

///////////////////////////

$section_header_color: $black
$page_background_color: $white
$header_text_color: $white
$header_background_color: $red