@import compass
@import "settings/*"

html, body
	margin: 0
	padding: 0

header
	background-color: $header_background_color
	color: $header_text_color

.bodyDiv
	background-color: $page_background_color